<div class="container-fluid">
  <div class="col-1 float-left"><a href="<%= campaign_path(@campaign) %>" class="btn btn-primary" style="margin:5px;">Back</a></div>
  <div class="row" style="padding:15px;">
    <div class="col-8" style="min-width:16rem;">
      <div class="row">
        <div class="col-9">
          <h2 style="text-align:center;"><%= @campaign_session.name %></h2>
        </div>
        <div class="col-3">
          <a href="<%= edit_campaign_campaign_session_path(@campaign)%>" class="btn" style="margin:5px;"><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="blue" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
          </svg></a>
          <a class="btn" style="margin:5px;" href="<%= campaign_campaign_session_path(@campaign) %>" data-method="delete" data-confirm="Are you sure?" role="button"><svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
          </svg></a>
        </div>
      </div>
      <hr>
      <p><%= @campaign_session.description %></p>
      <br>
      <br>
      <br>
      <h4>Notes</h4>
      <p><%= @campaign_session.notes || 'Notes to be added' %></p>
    </div>
    <div class="col-4" style="min-width:16rem;">
      <a style="position:relative;max-width: 15rem;max-hieght: 15rem;min-width: 5rem;min-hieght: 5rem" ><%= render partial: '/campaigns/campaigns', locals: {campaign: @campaign} %></a>
    </div>
  </div>
</div>
