<div class="card text-center" style="max-width:50rem; min-width:15rem; margin:15px; padding:10px;">
  <a href="<%= campaign_path(campaign) %>"><img class="card-img-top img-responsive w-100" src="<%= campaign.image_url %>" alt="..." style="max-height: 300px;
    min-height: 300px;
    object-fit: contain;"><a>
  <div class="card-body">
    <h5 class="card-title"><%= campaign.name %></h5>
    <p class="card-text text-left"><%= campaign.description %></p>
    <p class="card-text text-left"><small class="text-muted">DM: <%= campaign.dungeon_master %></small></p>
  </div>
</div>
