<div class="card" style="max-width:50rem; min-width:15rem; margin:15px; padding:10px;">
  <img class="card-imd-top" src="<%= ally.image_url %>"
  style="max-height: 300px;
    min-height: 300px;
    object-fit: contain;">
  <div class="card-body">
    <h5 class="card-title"><%= ally.name %></h5>
    <p class="card-text"><small class="text-muted">Description: </small></p>
    <p class="card-text"><small class="text-muted">Home Town: </small></p>
    <p class="card-text"><small class="text-muted">Health: <%= ally.hit_points %></small></p>
    <p class="card-text"><small class="text-muted">AC: </small></p>
    <p class="card-text"><small class="text-muted">Health: <%= ally.hit_points %></small></p>
    <p class="card-text"><small class="text-muted">Initiative: <%= ally.initiative %></small></p>
    <a href="<%= edit_session_ally_path(ally)%>" class="btn btn-primary" style="margin:5px;">Edit</a>
    <a class="btn btn-danger" style="margin:5px;" href="<%= session_ally_path(ally) %>" data-method="delete" data-confirm="Are you sure?" role="button">Delete</a>
  </div>
</div>

