<!DOCTYPE html>
<html>
  <head>
    <title>DungeonMaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= pages_home_path %>">Dungeon Maker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id=navbarResponsive>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item acitve"><a class="nav-link" href="<%= pages_home_path %>">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="<%= campaigns_path %>">Campaigns</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
